body {
    background: #fff;
    color: #000;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    line-height: 28px;
    max-width: 850px;
    margin: 0 auto;
}

.photo {
    width: 100%;
    border-radius: 3px;
    max-width: 600px;
    max-height: 335px;
    object-fit: cover;
}

.photoContainer {
    text-align: center;
}

.title {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
}

.subtitle {
    color: #737373;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.sectionTitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;
}

.section {
    margin-bottom: 28px;
}


.break {
    margin-top: 40px;
    padding-bottom: 10px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    max-width: 640px;
}

.break::before {
    display: block;
    margin-bottom: 20px;
    border-top: 1px solid #ecf0f1;
    content: "";
}

a {
    color: black;
    font-weight: 400;
    text-decoration: underline;
    transition: border .1s linear,color .1s linear,background-color .1s linear;
}

a:hover {
    color: #ff4324;
}

.item {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    color: #000;
    text-decoration: none;
}

.icon {
    width: 70px;
    height: auto;
}

.iconContainer {
    margin-right: 25px;
    float: right;
    margin-top: 5px;
}
.row {
    margin-bottom: 30px;
}

br {
    display: none;
}

@media (min-width:600px) {
    .row {
        display: flex;
    }

    br {
        display: block;
    }

    .iconContainer {
        float: none;
    }

    .photoContainer {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .title {
        font-size: 38px;
        line-height: 60px;
        margin-bottom: 10px;
    }

    h1.title {
        margin-bottom: 0;
    }

    .subtitle {
        font-size: 22px;
        line-height: 30px;
        font-weight: 400;
    }

    .header {
        margin-bottom: 70px;
    }
}

.container {
    padding: 20px;
    margin: 0 auto;
}

.content, .footer {
    max-width: 660px;
    margin: 0 auto;
}

.quoteContainer {

}

.quote {
    font-weight: 500;
}

.subSection {
    border-left: 2px solid #d5d2ce;
    border-bottom: 2px solid #d5d2ce;

    border-right: 1px solid #efebe7;
    border-top: 1px solid #efebe7;

    background: #f9f5f1;
    padding: 10px 15px;
    border-radius: 3px;
}

.mediaList {
    display: flex;
    margin-top: 5px;
}

.mediaItem {
    max-height: 28px;
    margin-right: 5px;
}

.articleSection {
    margin-bottom: 15px;
}

.views {
    color: #b2b2b2;
}

.smallIcon {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    opacity: 0.6;
}

.articleTitle {
}

.articleTitle a {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    color: #000;
    text-decoration: none;
}

.more {
    text-decoration: none;
    color:  #b2b2b2;
}

.cta {
    display: block;
    padding: 15px 18px;
    border: 2px solid #ff4324;
    border-radius: 3px;
    background: #fff;
    font-size: 17px;
    font-weight: 500;
    color: #ff4324;
    text-align: center;
    text-decoration: none;
}

.cta:hover {
    background: #ff4324;
    color: #fff;
}

.text-center {
    text-align: center;
}

.footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.emojiSection {
    text-align: center;
    padding: 15px;
}
.emoji {
    height: 36px;
    width: 36px;
}